!!!
%html.errorPage
  %head
    %title= @page_title
    = stylesheet_link_tag 'documentation/application'
    = csrf_meta_tags
  %body
    %section.errorMessage
      %h2= t('.page_not_found')
      %p= t('.description') 