- @page_title = @page.breadcrumb.reverse.map(&:title).join(" - ")

%section.content.edit-article
  = documentation_breadcrumb_for @page
  = form_for @page, :url => @page.new_record? ? new_page_path(@page.parent ? @page.parent.full_permalink : nil) : edit_page_path(@page.full_permalink), :html => {:class => 'pageForm'} do |f|
    = error_messages_for @page
    %p.title= f.text_field :title, :placeholder => t('.title_placeholder')
    %p.content= f.text_area :content, :placeholder => t('.content_placeholder')
    %dl
      %dt= f.label :permalink
      %dd= f.text_field :permalink, :placeholder => t('.permalink_placeholder')

    %p.submit
      - if authorizer.can_upload?(@page)
        = link_to t('.add_screenshot'), upload_screenshot_path, :class => 'button preview js-screenshot'
      = f.submit t('.save'), :class => 'button'
