- @page_title = @page.breadcrumb.reverse.map(&:title).join(" - ")
= render 'breadcrumb', :pages => @page.breadcrumb

%section.page
  %h1= @page.title

  = form_tag page_positioning_path(@page.full_permalink), :class => 'reordering' do 
    %ul
      - for child in @page.children
        %li
          = child.title
          = hidden_field_tag 'order[]', child.id
  
  %p.adminButtons
    = link_to "Back to page", page_path(@page.full_permalink), :class => 'button edit'
