- @page_title = @page.breadcrumb.reverse.map(&:title).join(" - ")

= documentation_breadcrumb_for @page

%section.page
  - if @page.preview_path
    %p.previewLink= link_to t('.view_in_website'), @page.preview_path, :class => 'button preview'

  %h1= @page.title
  %p.updated= t('.last_updated', :timestamp => @page.updated_at.to_s(:long))
  .documentationMarkdown
    ~ preserve(documentation_content_for(@page))

  = render 'admin_buttons'
