- @page_title = @page.breadcrumb.reverse.map(&:title).join(" - ")
= render 'breadcrumb', :pages => @page.breadcrumb

%section.page
  - if @page.preview_path
    %p.previewLink= link_to "View in website", @page.preview_path, :class => 'button preview'

  %h1= @page.title
  %p.updated Last updated #{@page.updated_at.to_s(:long_ordinal)}
  .markdown
    ~ preserve(parse_content(@page.compiled_content.to_s.html_safe || @page.content))

  = render 'admin_buttons'
