!!!
%html
  %head
    %title= @page_title
    = stylesheet_link_tag 'documentation/application'
    = javascript_include_tag 'documentation/application'
    = csrf_meta_tags
  %body
    = render 'layouts/documentation/header'
    %nav.pages
      .inner
        = documentation_navigation_tree_for(@page)
    %section.content
      .inner  
        = flash_messages
        = yield
        