!!!
%html
  %head
    %title= @page_title
    = stylesheet_link_tag 'documentation/application'
    = javascript_include_tag 'documentation/application'
    = csrf_meta_tags
  %body
    %header
      %h1= link_to "Documentation", root_path
    %nav.pages
      .inner
        = render 'layouts/documentation/navigation'

    %section.content
      .inner  
        = flash_messages
        = yield
